* {
    margin: 0;
    padding: 0;
    transition: 0.1s;
}

body {
    font-family: 'Roboto Condensed', Helvetica, sans-serif;
    text-align: left;
    font-size: 18px;
    color: #303030;
}

.container {
    max-width: 450px;
    margin: 0 auto;
}

h3 {
    color: #535353;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h4 {
    text-transform: uppercase;
}

.valid {
    color: red;
}

.registr {
    display: none;
    color: aliceblue;
    text-align: center;
}

.button-active {
    color: #C3FF00;
    background-color: #535353;
}

nav {
    background-color: #303030;
    color: #EFEFEF;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container #logo {
    width: 4.5em;
    padding: 1.2em 0.5em;
}

nav .container .login-button,
nav .container .menu-button {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 1em 1.25em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

input.error {
    border: 1px solid #ff0000;
}

label.error {
    color: #ff0000;
    font-weight: normal;
}

.nav-menu {
    background-color: #535353;
    color: #EFEFEF;
    display: flex;
    justify-content: center;
}

.nav-menu .container {
    padding: 1.5em;
    display: flex;
}

.nav-menu .container ul {
    list-style: none;
}

.nav-menu .container ul li {
    padding: 0.25em 2em;
}

.nav-menu .container ul li:first-child {
    text-transform: uppercase;
    color: #C3FF00;
    letter-spacing: 0.05em;
    cursor: pointer;
}

.price {
    font-size: 19px;
    font-weight: 700;
}

.absolute {
    position: relative;
}

.active {
    color: #ffd400;
    text-shadow: 0 0 20px #ffd400;
}

.input {
    border: 4px solid green;
}

.hide {
    display: none;
}

.login-form {
    background-color: #535353;
    padding: 1em 0 0;
    color: #EFEFEF;
    display: none;
}

.login-form .container {
    padding: 0 0.5em;
}

.login-form h4 {
    font-weight: 400;
}

.login-form input {
    width: calc(100% - 1em);
    border: none;
    height: 2em;
    margin: 0.5em 0;
    font-size: 1em;
    padding: 0 0.5em;
}

.login-form .sign-in-button {
    background-color: #303030;
    color: #C3FF00;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    width: 100%;
    height: 2.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.product-card {
    margin: 1em 0;
}

.product-card .dark-sole-original,
.product-card .sole-air-ii,
.product-card .tidal-x {
    background-size: 28em 15em;
    background-position: center;
    height: 14em;
    transition: 0.2s;
}

.product_img,
.product_img_center,
.product_img_bottom {
    cursor: pointer;
    position: absolute;
    width: 450px;
    height: 240px;
}

.product_select {
    display: none;
    position: relative;
    width: 90px;
    height: 90px;
    top: 82px;
    left: 192px;
    box-shadow: 0 0 15px #C3FF00;
    border-radius: 50%;
    opacity: 0.8;
}

.add_select {
    border-radius: 5%;
    border: 2px solid rgb(21, 196, 21);
    width: 446px;
    opacity: 0.8;
}

.end_select {
    background-color: #ff0000;
    opacity: 0.4;
    cursor: not-allowed;
}

.product-card .photo-active {
    background-size: 40.8em 19.5em;
    transition: 1s;
}

.product-card .product-details {
    margin-top: -5px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-between;
}

.product-card .product-details h4,
.product-card .product-details p {
    padding: 0.7em 1.25em;
}

.product-card .product-details div {
    display: flex;
}

.product-card .product-details .more-details-button {
    background-color: #535353;
    padding: 0.75em 1.25em;
    cursor: pointer;
    width: 1em;
    transition: 0.1s;
}

.product-card .product-details .more-details-button img {
    position: relative;
    left: 0.1em;
}

.product-card .product-details .more-details-button .rotate {
    transition: 0.5s;
    transform: rotate(90deg);
}

.product-card .shoe-details {
    display: none;
    background-color: #535353;
    color: #EFEFEF;
}

.product-card .shoe-details .active {
    background-color: #C3FF00;
    color: #303030;
}

.product-card .size-chart,
.product-card p {
    padding: 1em 1.25em;
}

.product-card .size-chart ul,
.product-card p ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.product-card .size-chart ul li,
.product-card p ul li {
    padding: 0.5em;
    background-color: #303030;
    width: 100%;
    text-align: center;
    margin-right: 2px;
}

.product-card .buy-now-button {
    background-color: #303030;
    text-align: center;
    padding: 0.75em;
    cursor: pointer;
}

.sizes {
    cursor: pointer;
}

.addSimple {
    color: #C3FF00;
}

.addSizes {
    transform: rotateX(360deg);
    transition: 0.6s;
}

.card_img {
    display: none;
    width: 35px;
    height: 22px;
}

.credit_card {
    display: none;
    display: flex;
    width: 100%;
    min-height: 150px;
}

.credit {
    display: none;
}

.cart_wrap {
    transform: rotateY(360deg);
    opacity: 0.2;
    margin-top: 0px;
    height: 150px;
    width: 50%;
    margin: 0;
    padding: 0;
    background-image: url('img/credit.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.cart_number {
    position: relative;
    display: none;
    margin: 80px 20px;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 300;
    color: #EFEFEF;
}

.add_wrap {
    transform: rotateY(0deg);
    opacity: 1;
    transition: 1.2s;
}

.add_wrap_leave {
    transform: rotateY(360deg);
    opacity: 0.2;
    transition: 1.2s;
}

.addKeyup {
    transform: rotateX(30deg);
}

.cart_form {
    width: 50%;
    margin: 7px 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 62px;
}

.cart_phone {
    margin-bottom: 13px;
    width: 95%;
    background: none;
    outline: none;
    padding: 4px;
    border: 1px solid #535353;
    border-bottom: 1px solid gold;
    border-radius: 2px;
    letter-spacing: 1.5px;
    font-size: 18px;
    color: #fff;
    font-style: italic;
}

.number_clear,
.number_result,
.number_eror {
    float: right;
    display: none;
    position: relative;
    width: 20px;
    height: 20px;
    top: 77px;
    right: 3px;
}

.send {
    cursor: pointer;
    background: rgb(160, 137, 9);
    width: 100%;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    border: 2px solid rgb(155, 133, 7);
    outline: none;
}

.add_cart {
    transform: rotate(180deg);
    transition: 0.4s;
}

.activeCart {
    color: #ffd400;
    text-shadow: 0 0 20px #ffd400;
}

.shopping-cart {
    background-color: #171717;
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
    box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.5);
    display: none;
    height: 3.5em;
}

.shopping-cart .container {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.shopping-cart .container .cart {
    display: flex;
}

.shopping-cart .container .cart object {
    margin-right: 0.75em;
}

footer {
    color: #EFEFEF;
    background-color: #303030;
    margin-top: 2em;
    padding: 2em 0.5em;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container object {
    width: 4.5em;
}